<div class="row text-center">

    <h2 class="section-heading">Today's Trending Topics!</h2>
    <table class="table">
        <tr>
            <tr><strong>#PMQs - <a> //www.nytimes.com/reuters/2014/02/11/world/europe/11reuters-britain-parliament.html</a></strong></tr> <br>
            <tr><strong>#Orgullo2017</strong></tr> <br>
            <tr><strong>Michael Bond</strong></tr><br>
            <tr><strong>#田舎という言葉を使わないで田舎を表現</strong></tr><br>
            <tr><strong>#WelcomeToBrazilAriana</strong></tr><br>
            <tr><strong>#Hillsborough</strong></tr><br>
            <tr><strong>ドレイクオルタ</strong></tr><br>
            <tr><strong>Mehmet Ekici</strong></tr><br>
            <tr><strong>アガルタ突発性難聴アストルフォ드레이크</strong></tr><br>
            <tr><strong>Julio Borges - <a> https://query.nytimes.com/gst/abstract.html?res=9B07E4DE103FEF3BBC4A53DFB566838C679EDE</a></strong></tr><br>
            <tr><strong> Marcin P.</strong></tr><br>
            <tr><strong>#USAin4words</strong></tr><br>
            <tr><strong>#NiceNSlow_Maddtonic</strong></tr><br>
            <tr><strong>#Rihanna - <a> https://www.nytimes.com/2017/05/24/fashion/rihanna-fashion-icon-parsons.html </a></strong></tr><br>
        </tr>
        <tr>
        </tr>
    </table>

</div>